@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "src/assets/styles/variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 12px; 
  line-height: 1.21;
  color: $text-main
}

#root {
  overflow: hidden;
}

p {
  margin: 0 0 10px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
  border-radius: 10px;
  background: $background-primary;
  padding: 0 10px;
  width: 140px;
  height: 45px;
  max-width: 100%;
  font-weight: 500;
  text-decoration: none;
  color: $text-main;
  cursor: pointer;
  transition: $transition-default;
  
  &:hover {
    background: lighten($background-primary, 10%);
  }
  
  &:active {
    background: darken($background-primary, 10%);
  }
  
  &-gray {
    background: $background-gray;
    height: 36px;

    &:hover {
      background: lighten($background-gray, 5%);
    }

    &:active {
      background: darken($background-gray, 10%);
    }
  }
  
  &[disabled] {
    background: $background-gray;
    color: $text-gray;
    cursor: default;
  }
}