$primary: #FDCD00;
$primary-darken: #FFB800;
$secondary: #475DDB;
$black: #000000;
$white: #FFFFFF;
$green: #3BC171;
$red: #FF647C;
$gray: #A5A2A2;
$gray-lighten: #D9D9D9;
$gray-lighten-mid: #E5E5E5;
$gray-lighten-max: #F2F5F8;
$gray-darken: #C4C4C4;

$text-gray: $gray;
$text-main: $black;
$text-white: $white;
$text-primary: $primary;
$text-secondary: $secondary;

$border-primary: $primary;
$border-black: $black;
$border-gray: $gray-lighten-mid;

$background-primary: $primary;
$background-primary-darken: $primary-darken;
$background-secondary: $secondary;
$background-black: $black;
$background-white: $white;
$background-green: $green;
$background-red: $red;
$background-gray: $gray-lighten;
$background-gray-darken: $gray-darken;
$background-gray-lighten: $gray-lighten-max;

$transition-default: 0.3s;